@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

body {
    background-color: rgba(0, 0, 0, .08);
}

.f-container {
    background-image: url(./images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 102vh;
    position: relative;
    z-index: 1;
}

.f-container::before {
    background-color: rgba(0, 0, 0, 0.37);
    content: '';
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.container {
    margin: 0% 13% 0% 13%;
    padding-top: 2%;
}

nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Navbar */
.nav-start {
    display: flex;
    text-align: center;
}

.nav-end ul {
    display: flex;
}

.logo h3 {
    color: white;
    margin-right: 4rem;
    font-size: 26px;
    margin-top: -5px;
}

.links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.links ul {
    display: flex;
}

.links ul li {
    margin-left: 15px;
}

.nav-end ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.links ul li,
.nav-end ul li {
    list-style: none;
}

.btn-1 {
    background-color: rgb(67, 187, 235);
    border-radius: 4px;
    padding: 15px 20px 15px 20px;
    border: none;
    margin-left: 40px;
    cursor: pointer;
    margin-top: -7px;
    width: 180px;
}

.btn-1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Top Content */
.top-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    align-items: center;
}

.heading {
    padding-top: 140px;
    padding-bottom: 30px;
}

.heading h1 {
    font-size: 3rem;
    color: white;
}

.p-1 {
    text-align: center;
    padding-bottom: 40px;
}

.p-1 p {
    color: white;
    font-weight: bold;
    font-size: 23px;
}

#quote {
    padding: 15px 25px 15px 25px;
    border-radius: 40px;
    background-color: rgb(67, 187, 235);
    cursor: pointer;
    border: none;

}

#learn-m {
    padding: 15px 25px 15px 25px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
    border: 1px solid white;

}

#quote a,
#learn-m a {
    color: white;
    font-size: 15px;
    text-decoration: none;
}

/* Boxes */
.boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 38%;
}

.box-1 {
    padding: 40px;
    width: 350px;
    height: 185px;
    background-color: rgb(231, 235, 231);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.box-2 {
    padding: 40px;
    width: 350px;
    margin-left: 10px;
    height: 185px;
    background-color: rgb(240, 243, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.box-3 {
    padding: 40px;
    width: 350px;
    height: 185px;
    margin-left: 10px;
    background-color: rgb(67, 187, 235);
}

.box-coonteent h2,
.box-conteent h2,
.box-content h2 {
    margin-top: 15px;
}

.body-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 18%;
    background-color: white;
    width: 100%;
    padding: 100px 250px 100px 250px;
}

.box-4 .icon {
    padding-bottom: 20px;
}

.box-4 h3 {
    padding-top: 10px;
}

.hanging-text {
    align-items: center;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.teams {
    display: flex;
    justify-content: space-between;
    margin: 5% 20% 10% 20%;
    align-items: center;
}

.team-1 {
    background-color: white;
    text-align: center;
    align-items: center;
    width: 250px;
    padding: 40px;
    border: 1px solid grey;
}

.person-1 img {
    width: 100px;
}
.star{
    margin-top: 5px;
}
.companies {
    display: flex;
    flex-direction: row;
    margin: 0% 20% 2% 20%;
    justify-content: space-between;
}

.company-1 .icon img,
.company-2 .icon img,
.company-3 .icon img,
.company-4 .icon img,
.company-5 .icon img {
    width: 80px;
}
.subscribe{
    margin: 0% 20% 10% 20%;
    background: rgb(233,10,213);
    background: linear-gradient(279deg, rgba(233,10,213,0.6839110644257703) 65%, rgba(67,35,209,1) 98%, rgba(148,47,207,0.48783263305322133) 99%, rgba(124,37,217,1) 100%, rgba(75,17,238,1) 100%, rgba(34,0,255,0.87718837535014) 100%);
    display: flex;
    padding: 30px;
    justify-content: space-between;
}
.user-input input{
    padding: 10px;
    border: 0;
}
input:focus{
    outline: none;
}
.btn input{
    padding: 10px;
    margin-left: -5px;
    border: none;
    background-color: rgb(67, 187, 235);
    color: white;
    cursor: pointer;
}
.subscribe .text p{
    color: white;
    font-weight: bold;
}
/* Pricing Container */
.pricing-boxes{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-height: 600px;
    position: relative;
}
.pricing-container{
    margin: 0% 20% 5% 20%;
}
.pricing-content{
    text-align: center;
    margin: 0% 35% 5% 35%;
}
.price-tag{
    display: flex;
    color: rgb(67, 187, 235);
    margin-bottom: 20px;
}
.price-tag h1{
    margin-right: 10px;
    margin-left: 10px;
}
.pricing-box-1{
    align-items: center;
    border: 1px solid blue;
    padding: 30px;
    border-radius: 5px;
    background-color: #fff;
}
.pricing-box-1 h2, p{
    text-align: center;
}
.pricing-box-1 h2{
    padding: 20px 0px 20px 0px;
}
.pricing-box-1 p{
    margin-bottom: 10px;
}
.list ul li{
    list-style: none;
    margin-bottom: 20px;
}
.list ul li .icon .fa{
    width: 40px;
}
.list ul li .icon .fa-solid{
    color: rgb(67, 235, 81);
}
.list ul li .icon .fa-regular{
    color: white;
    background-color: grey;
    border-radius: 50%;
    border: none;
}
.purchase-button{
    background-color: rgb(67, 187, 235);
    border: none;
    padding: 10px 50px 10px 50px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.txt{
    font-size: 12px;
}
/* Pricing-box-2 */
.pricing-box-2{
    border: 1px solid rgb(34, 34, 75);
    border-radius: 5px;
    padding: 30px;
    background-color: rgb(34, 34, 75);
    color: white;
}
.pricing-box-2 h2, p{
    text-align: center;
}
.pricing-box-2 h2{
    padding: 0px 0px 20px 0px;
    margin-top: 50px;
}
.pricing-box-2 p{
    margin-bottom: 10px;
}
.pricing-box-3{
    border: 1px solid rgb(34, 34, 75);
    border-radius: 5px;
    padding: 30px;
    background-color: #fff;
    
}
.pricing-box-3 h2, p{
    text-align: center;
}
.pricing-box-3 h2{
    padding: 0px 0px 20px 0px;
    margin-top: 50px;
}
.pricing-box-3 p{
    margin-bottom: 10px;
}
/* Locations */
.locations{
    background-color: rgb(34, 34, 75);
    display: flex;
    padding: 6% 15% 2% 15%;
    justify-content: space-between;
    height: 500px;
}
.map img{
    width: 400px;
}
.location-text{
    width: 300px;
    color: white;
}
.appointment{
    display: flex;
    margin: -10% 30% 5% 30%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.19), 0 8px 20px 0 rgba(0,0,0,.37);
    width: 480px;
}
.appointment-img img{
    height: 400px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    padding: 20px;
}
.booking-form h3{
    text-align: center;
    padding-top: 10px;
}

form input{
    width: 260px;
    outline: none;
    background-color: rgba(175, 169, 169, 0.363);
    border: none;
    border-radius: 3px;
    padding: 10px;
}
.field, .field-1, .field-2, .field-3{
    margin-bottom: 10px;
}
.field-2 select, .field-3 select{
    width: 260px;
    background-color: rgba(175, 169, 169, 0.363);
    border: none;
    cursor: pointer;
    outline: none;
    padding: 10px;
}
option{
    padding-right: 10px;
}
.submit-appointment{
    width: 260px;
    border: none;
    background-color: rgb(67, 187, 235);
    border-radius: 4px;
    padding: 15px 0px 15px 0px;
    cursor: pointer;
    color: white;
}
.contact-us{
    display: flex;
    margin: 2% 15% 2% 15%;
    justify-content: space-between;
}
.contact-button{
    border: none;
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background-color: rgb(67, 187, 235);
    color: white;
}
.footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 3% 15% 3% 15%;
}
.footer ul li{
    list-style: none;
    margin-top: 10px;
}
.footer ul li a{
    text-decoration: none;
    color: rgb(41, 39, 39);
    font-size: 13px;
}
.footer-contact .fa{
    color: rgb(67, 187, 235);
    margin-right: 5px;
    cursor: pointer;
}
.bottom-footer{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1% 15% 2% 15%;
}
.media .icons .icon .fa-brands{
    color: rgb(67, 187, 235);
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .heading h1 {
        font-size: 1.8rem;
        color: white;
    }
    .links, .nav-end{
        display: none;
    }
    .boxes{
        margin-top: 0%;
        flex-flow: wrap;
        margin-bottom: 20%;
        height: 50%;
        width: 80%;
    }
    .f-container{
        height: 130vh;

    }
    .body-container{
        flex-wrap: wrap;
        margin-top: 750px;
        padding: 40px 50px 20px 50px;
    }
    .box-4{
        padding-top: 40px;
    }
    .teams{
        flex-wrap: wrap;

    }
    .team-1{
        margin-top: 10px;
    }
    .pricing-boxes{
        flex-wrap: wrap;
    }
    .pricing-box-1{
        margin-bottom: 10px;
        margin-left: 20px;
        margin-left: 3rem;
    }
    .pricing-box-2{
        margin-bottom: 10px;
        margin-left: 3rem;
    }
    .pricing-box-3{
        margin-bottom: 10px;
        margin-left: 3rem;
    }
    .contact-us, .footer, .companies, .subscribe{
        flex-wrap: wrap;
    }
    .teams {
        display: flex;
        justify-content: space-between;
       
        align-items: center;
    }
    
    .team-1 {
        background-color: white;
        text-align: center;
        align-items: center;
        width: 250px;
        padding: 40px;
        border: 1px solid grey;
    }
    .companies {
        display: flex;
        flex-direction: row;
        margin: 0% 10% 2% 10%;
        justify-content: space-between;
    }
    .subscribe{
        margin: 0% 4% 5% 4%;
    }
    .locations{
        flex-flow: wrap;
        margin-top: 250%;
        margin-left: 1.5rem;
    }
    .appointment{
        flex-wrap: wrap;
        margin: 0% 2% 0% 3%;
        width: 340px;
        height: 450px;
        margin-left: 1.2rem;
    }
    .appointment-img{
        display: none;
    }
    .contact-btn{
        margin-left: 100px;
        margin-top: 20px;
    }
    form{
        margin-left: 35px;
    }
    .pricing-container{
        margin: 0% 0% 0% 0%;
        align-items: center;
        justify-content: center;
    }
    .pricing-content{
        align-items: center;
    }
    .box-1 {
        padding: 40px;
        margin: 700px 0px 10px 10px;
        width: 350px;
        height: 185px;
        background-color: rgb(231, 235, 231);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    }
    
    .box-2 {
        padding: 40px;
        width: 350px;
        margin-bottom: 10px;
        margin-left: 10px;
        height: 185px;
        background-color: rgb(240, 243, 240);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
    }
    
    .box-3 {
        padding: 40px;
        width: 350px;
        height: 185px;
        margin-left: 10px;
        background-color: rgb(67, 187, 235);
    }
    .map img{
        width: 100%;
    }
    .locations{
        background-color: rgb(34, 34, 75);
        display: flex;
        padding: 6% 5% 2% 5%;
        justify-content: space-between;
        height: 500px;
        width: 330px;
    }
    
}

