@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}
.container{
    max-width: 960px;
    margin: 100px auto;
    padding: 10px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.item{
    padding: 10px;
    border: 1px solid greenyellow;
    font-size: 20px;
    background-color: goldenrod;
}
